div{ border: 3px solid pink;
   
     background-color: blue;
    }
#b1{  margin: 10px;
      background-color:yellow;
    }

.y1{  background-color: grey;
      padding: 5px; 
    }
#b3{ width:25%;
     float:left;
background-color: grey;
    }
#b4{ width:60%;
    float:left; 
background-color: #666666;
font:bold 19pt/14pt Helvetica, sans-serif;  
    }
#b5{ width:10%;
    float:left;

background-color: grey;
    }

#b6{ width:100%;
  clear: both;
    }